@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Poppins";
}

.trans{
    transition: width 250ms;
}

.transit{
    transition: width 250ms;
}

a.active{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: white;
    color: rgb(95, 79, 79);
    border-right: none;
}
a.active .icons{
    border-radius: 7px;
}


a.active #label{
    color:#176B87;
}
a.active {
    position: relative;
}

a.active .icon {
    color: #176B87;
}






